worker_processes  1;

events {
    worker_connections  1024;
}

http {
    server {
        listen  80;
        server_name  localhost;

        location / {
		    return 200 'Current version is ${version_number}\n';
        }
    }
}